
  <!doctype html>
 <html lang="en">
         {% load staticfiles %}

     <link rel="stylesheet" type="text/css" href="{% static 'monitor/details.css' %}" />
<head>
	<body>
	 <h3><p><a href="/monitor/">Назад</a></p></h3>
	 <h3><a href="/monitor/datepickerview/">Отчет по дням</a></h3>
	 <h3><p> Отчет на {{date_report}}: </p></h3>
	 <pre>

     </pre>
	   <table align = "center">
    <tr>
    <th>Количество каналов:</th>
    <th>{{s}} </th>
    </tr>
    <tr>
      <th> Количество каналов без сообщений:</th>
    <th>{{ no_messages_channels }} </th>  
</tr>
    <tr>
      <th> Каналов обновлено за последние сутки:</th>
    <th>{{number_with_messages_24h}} </th>  
</tr>
</tr>
    <tr>
      <th> Каналов без обновлений за последние сутки:</th>
    <th> {{number_without_messages_24h}} </th>  
</tr>

      </table>
</body>
</html>