    <!doctype html>
        {% load staticfiles %}

    
    <html lang="en">
    <head>
   <link rel="stylesheet" type="text/css" href="{% static 'monitor/monitor.css' %}" />
                  </head>
             <body> 
              <h1> Monitor app </h1>
       <h3> <a href="/monitor/datepickerview/">Отчет по дням</a></h3>
        <h2 style="font-family:tempus sans itc;"></h2></a>
        <h3><a href="/monitor/details/">Общая статистика<h2 style="font-family:tempus sans itc;"></h2></a></h3>
        <img src="{% static "/monitor/monitor.jpg" %}" allign = center />

    </body>
</html>