p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
}
head {     text-align: left;}
body {
   background-image: url("paper.gif");
   background-color: #cccccc;
     text-align: center;
}
p.important {
  font-size: 1em;
  font-weight: 900;
}
h1 {
  color: red;
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1.5em;
}
h3 {

  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1.5em;
}
.typewriter {
  font-family: "Courier New", Courier, monospace;
 }
.emphasized {
  font-style: italic;
}
.standout {
  color: yellow;
}

